@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    overflow: hidden;
}

body {
    background-color: #000;
}

.navbar-burger {
    display: none !important;
}

.content.level {
    visibility: visible;
    z-index: 9;
}

.navbar-item {
    background-color: rgba(0,0,0,0);
    outline: 0;
    border: none;
    cursor: pointer;
    z-index: 9;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.content {
    padding: 10px;
}

#maincanvas {

    height: auto;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    background-color: #000;

}

a, button {

    font-family: 'Open Sans', sans-serif;

}

.message {

    display: none;
    margin: auto;
    top: 13%;
    position: absolute;
    z-index: 10;
    mix-blend-mode: hard-light;
    background-color: transparent;

}

.message-body {
    background-color: transparent;
}

.mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 500;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar {
    width: 100%;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    #maincanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .message-body {
        font-size: 1rem;
    }
    html, body {
        overflow-y: auto;
        height: auto;
    }
    .navbar-item {
        font-size: 0.6rem;
        display: block;
        text-align: center;
        padding: 5px 0.6%;
    }
    .title {
        font-size: 0.8rem !important;
        top: 10%;
    }
    .mute-button {
        padding: 5px 10px;
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 896px) {
    #maincanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .message-body {
        font-size: 1rem;
    }
    html, body {
        overflow-y: auto;
        height: auto;
    }
    .navbar-item {
        font-size: 0.6rem;
        display: block;
        text-align: center;
        padding: 5px 1.4%;
    }
    .title {
        font-size: 0.8rem !important;
        top: 10%;
    }
    .mute-button {
        padding: 5px 10px;
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 812px) {
    #maincanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .message-body {
        font-size: 1rem;
    }
    html, body {
        overflow-y: auto;
        height: auto;
    }
    .navbar-item {
        font-size: 0.6rem;
        display: block;
        text-align: center;
        padding: 5px 0.7%;
    }
    .title {
        font-size: 0.8rem !important;
        top: 10%;
    }
    .mute-button {
        padding: 5px 10px;
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 852px) {
    #maincanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .message-body {
        font-size: 1rem;
    }
    html, body {
        overflow-y: auto;
        height: auto;
    }
    .navbar-item {
        font-size: 0.6rem;
        display: block;
        text-align: center;
        padding: 5px 1%;
    }
    .title {
        font-size: 0.8rem !important;
        top: 10%;
    }
    .mute-button {
        padding: 5px 10px;
        height: auto;
        width: auto;
    }
}
