@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#maincanvas {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

}

a {

    font-family: 'Open Sans', sans-serif;

}

.message {

    margin: auto;
    top: 15%;
    position: absolute;
    z-index: 1;
    opacity: 0.5;

}

.navbar {
    opacity: 0.5;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}